.js-plotly-plot,
.plot-container,
.plotly,
.main-svg {
  width: 100% !important;
  height: 100% !important;
}

.main-svg {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  background-color: transparent !important;
}

.modebar {
  display: none !important;
}
